html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

:root {
  --radius: 280;
  --circumference: calc(var(--radius) * 2 * 3.14159265);
  --stroke-width: 10;
  --radiusWithStroke: calc(var(--radius) + 2 * var(--stroke-width));
  --container: calc(650px * var(--ratio));
  /* --ratio: 1; Defined in media queries! */ 
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif;
  background-color: var(--background);
}

#simple {
  display: grid;
}

#clock, #dateTime {
  grid-column: 1;
  grid-row: 1;
  user-select: none;
  height: var(--container);
  width: var(--container);
}

.dial {
  stroke: var(--foreground);
  stroke-width: var(--stroke-width);
  fill: transparent;
  r: var(--radius);
  cx: var(--radiusWithStroke);
  cy: var(--radiusWithStroke);
}

#seconds {
  stroke-dasharray: calc(var(--circumference) / 59 / 3) calc(2 * var(--circumference) / 59 / 3);
}

#sweep {
  stroke-dasharray: var(--circumference) var(--circumference);
  stroke-dashoffset: var(--circumference);
  transition: stroke-dashoffset 1s;
}

#dateTime {
  margin-top: calc(-8px * var(--ratio));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: var(--foreground);
}

#time {
  font-size: calc(12em * var(--ratio));
  line-height: 1em;
  text-align: center;
}

#date {
  font-size: calc(2.4em * var(--ratio));
  text-align: center;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Themes */

.biscay {
  --background: #2E3C56;
  --foreground: #FFFFFF;
}

.tolopea {
  --background: #0C0032;
  --foreground: #3500D3;
}

.night {
  --background: #000000;
  --foreground: #FFFFFF;
}

.jazzberry-jam {
  --background: #950740;
  --foreground: #FFFFFF;
}

.gin {
  --background: #D7E8BA;
  --foreground: #1D1A05;
}

.atomic-tangerine {
  --background: #F4976C;
  --foreground: #D2FDFF;
}

.sky-blue {
  --background: #90CCF4;
  --foreground: #FFFFFF;
}

.periwinkle {
  --background: #77A6F7;
  --foreground: #FFFFFF;
}

.minimal {
  --background: #FFFFFF;
  --foreground: #000000;
}

/* Media Queries */

@media (max-width: 7680px) {
  :root {
    --ratio: 4;
  }
}
@media (max-width: 3840px) {
  :root {
    --ratio: 2;
  }
}
@media (max-width: 2560px) {
  :root {
    --ratio: 1.33333333;
  }
}
@media (max-width: 1920px) {
  :root {
    --ratio: 1;
  }
}
@media (max-width: 1680px) {
  :root {
    --ratio: 0.875;
  }
}
@media (max-width: 1440px) {
  :root {
    --ratio: 0.75;
  }
}
@media (max-width: 1280px) {
  :root {
    --ratio: 0.66666667;
  }
}
@media (max-width: 1024px) {
  :root {
    --ratio: 0.53333333;
  }
}
@media (max-width: 800px) {
  :root {
    --ratio: 0.41666667;
  }
}
